{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Available Quizzes</title>
    <link rel="stylesheet" href="{% static 'css/quiz_list.css' %}">
</head>
<body>
    <h2>Available Quizzes</h2>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <ul>
        {% for quiz in quizzes %}
            <li>
                <h3><a href="{% url 'quiz_take_up' quiz.id %}">{{ quiz.name }}</a></h3>
                <p>{{ quiz.description }}</p>
            </li>

            <div>
                <a href="{% url 'leaderboard' quiz.id %}">
                    <button>View Leaderboard</button>
                </a>
            </div>
        {% empty %}
            <li>No quizzes available.</li>
        {% endfor %}
    </ul>
    <button class="btn" onclick="window.location.href='{% url 'sign_out' %}'">Sign Out</button>
</body>
</html>
