{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h2> Register </h2>
            {{ form.as_p }}
            <button type="submit"> Register </button>
            <br> &nbsp;<a href="{% url 'log_in' %}">Go to Login</a>
        </form>
        
        <script>
            document
            .getElementById("RegisterForm")
            .addEventListener("submit", function(event) {
                event.preventDefalt();
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;

                var confirmPassword = 
                    document.getElementById("confirmPassword").value;
                if(password !== confirmPassword){
                    alert("passwords do not match");
                    return;
                }

                const_user = {
                    username: username,
                    password: password,
                };

                localStorage.setItem("username", JSON.Stringify(User));
                alert("Registration successfull, please login");
                window.location.href = "login.html";
            });
        </script>
    </body>
</html>